{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
{% if session['is_admin'] == 'True' %}
<h2>Number of revoked certificates: {{response["revokedNumber"]}}</h2>
<h2>Number of issued certificates: {{response["issuedNumber"]}}</h2>
<h2>Serial number: {{response["serial"]}}</h2>
{% else %}
<h2>Firstname: {{session['firstname']| e}}</h2>
<h2>Lastname: {{session['lastname']| e}}</h2>
<h2>Email: {{session['email']| e}}</h2>

<br />
<h1>Change Your information</h1>

<form method="POST">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Enter last name"
      />
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endif %}
<footer>
    Powered by NixOS &emdash; {{ mac_addr, machine_id }}
</footer>
{% endblock %}
