{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Login with Certificate</h3>
  <div class="form-group">
    <label for="Certificate">Certificate</label>
    <input
      class="form-control"
      id="Certificate"
      name="Certificate"
      placeholder="Enter Certificate"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
