{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Manage Your cetificate </h1>

<form method="POST">
    <div class="form-group">
        <label for="ManageSelect">Choose your action</label>
        <select class="form-control" name="ManageSelect" id="ManageSelect">
          <option value="1">Generate a new certificate</option>
          <option value="2">Revoke a certificate</option>
        </select>
      </div>
      <label for="Certificate">Certificate</label>
      <input
        class="form-control"
        id="Certificate"
        name="Certificate"
        placeholder="Enter Certificate to revoke"
      />
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
